</div>
   <div class="footer">
       <div class="row">
           <div class="col-md-6">
               <p>GRIP Project, Made by Lavesh Goyal</p>
           </div>
           <div class="col-md-6">
    
               <a href="https://github.com/laveshgo" target="_blank">
                   <i class="fab fa-github"></i>
               </a>
               <a href="https://www.linkedin.com/in/lavesh-goyal-146223172/" target="_blank">
                   <i class="fab fa-linkedin"></i>
               </a>
               <a href = "mailto: lavesh21goyal@gmail.com">
                   <i class="fas fa-envelope"></i>
                </a>
           </div>
       </div>

   </div>
 
   </body>

   </html>