<%- include("partials/header"); -%>



<div class="main">
    <div class="left">
        <div class="image-div">
            <img src="/images/Transactions.png" alt="People">
        </div>
    </div>
    <div class="right">
        
            <div class="text-div">
                <div class="text">
                <h1>TSF BANK</h1>
                <p>Makes Transactions Easy</p>
            </div>
            </div>
            <div class="button-div">
            <a role="button" class=" btn btn-primary btn-lg col-6" href="./customers">Get Started</a>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>